.footer {
  background: #{map-get($brand-colors, secondary)};
  color: #{map-get($brand-colors, primary)};
  font-size: font-size(small);
  text-align: center;

  padding: space(medium);

  h5 {
    margin-bottom: space(medium);

    font-weight: bold;
    text-transform: uppercase;
  }
}
