.cover {
  position: relative;

  height: 100vh;

  &::before {
    @include css-content(100%);

    position: absolute;
    z-index: layer(low);

    background: {
      image: url('#{$images-path}/parque-chico-mendes-scs.jpg');
      size: cover;
      repeat: no-repeat;
    };
    opacity: .4;
  }

  > div {
    position: relative;
    z-index: layer(base);
    text-align: center;

    padding-top: rem(50px);

    font-size: font-size(large);
  }

  time {
    font-size: font-size(xlarge);
  }

  .logo {

  }
}
