.main-nav {
  background: #{map-get($brand-colors, primary)};

  position: fixed;
  top: 0;
  right: 0;

  margin: 0 auto;
  padding-top: rem(100px);

  height: 100%;
  width: 75%;

  transform: translateX(100%);
  transition: transform 0.6s ease-out;

  z-index: layer(high);

  @media (min-width: #{map-get($breakpoints, medium)}) {
    background: none;

    position: relative;

    padding-top: 0;

    height: 100vh;
    width: 70%;

    transform: translateX(0);
  }

  a {
    display: block;

    color: black;
    text-align: right;

    padding: rem(16px) rem(24px);

    font-size: font-size(large);
    font-weight: bold;
    text-transform: uppercase;

    @media (min-width: #{map-get($breakpoints, medium)}) {
      color: white;
      display: inline-block;
    }
  }

  .go-to-start {
    display: none;

    background: {
      image: url("#{$images-path}/logo-abcdev.svg");
      repeat: no-repeat;
      size: cover;
    }
  }
}
.main-nav.is-active {
  transform: translateX(0);
}

.social-nav {
  a {
    display: inline-block;
    margin: space(small);
  }
  @media (min-width: #{map-get($breakpoints, medium)}) {
    position: absolute;
    right: 0;
    bottom: rem(50px);
  }
}
