.speakers {
  margin: space(xlarge) auto;

  text-align: center;

  @media (min-width: #{map-get($breakpoints, medium)}) {
    color: white;

    padding-bottom: space(large);
  }

  h2 {
    margin: space(large) auto;
  }

  a {
    display: inline-block;
  }

  .all-speaker {
    margin: space(large) auto;
    max-width: rem(1080px);

    @media (min-width: #{map-get($breakpoints, medium)}) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .speaker {
    max-width: rem(260px);
    margin: space(medium) auto;

    overflow: hidden;

    transition: filter 0.4s ease-in;

    &:nth-child(odd) {
      @media (min-width: #{map-get($breakpoints, medium)}) {
        top: rem(50px);
      }
    }

    &:hover {
      @media (min-width: #{map-get($breakpoints, medium)}) {
        -webkit-filter: grayscale(1);
        -moz-filter: grayscale(1);
        filter: grayscale(1);
      }
    }

    &:hover > .speaker-info {
      @media (min-width: #{map-get($breakpoints, medium)}) {
        background: rgba(0, 0, 0, 0.4);
        top: 100%;

        transform: translateY(-100%);
      }
    }

    @media (min-width: #{map-get($breakpoints, medium)}) {
      margin: 0;
      position: relative;
    }

    .speaker-image {
      height: rem(350px);
      width: rem(260px);

      overflow: hidden;
    }

    .speaker-info {
      margin: space(small) auto;

      z-index: layer(highest);

      transition: background 3s linear;
      transition-delay: 1s;

      h4 {
        font-size: font-size(large);
      }

      a {
        margin: space(small) space(xsmall);
      }

      p {
        @media (min-width: #{map-get($breakpoints, medium)}) {
          font-size: font-size(small);
        }
      }

      @media (min-width: #{map-get($breakpoints, medium)}) {
        height: rem(350px);
        position: absolute;

        margin: 0;
        padding-left: rem(10px);
        padding-top: rem(10px);

        text-align: left;

        transition: transform 0.5s ease-in-out;
      }
    }
  }
}
