.sponsors {
  margin: space(xlarge) auto;
  text-align: center;

  h2,
  h3 {
    margin: space(large) auto;
  }
  h3 {
    font-size: rem(24px);
    text-transform: uppercase;
  }

  p {
    font-size: font-size(medium);
  }

  .sponsor,
  .support {
    @media (min-width: #{map-get($breakpoints, medium)}) {
      display: flex;
      justify-content: space-around;
      align-items: center;

      margin: space(medium) auto;

      max-width: rem(1080px);
    }

    figure {
      margin: space(xlarge) auto;
      max-height: 300px;
      width: 240px;
    }

    img {
      width: 100%;
    }
  }
  .support {
    img {
      margin: space(large) auto;
      max-width: 180px;
    }
  }
}
