/// Mixin que cria o conteúdo vazio para pseudo-elementos `::after` e `::before`
///
/// @group   Tools [Ferramentas]
/// @output  Quando compilado coloca todas as propriedades necessárias para ter
///          um pseudo-elemento com ou sem tamanho específico
///
/// @param   {number} $width [null] - Largura do pseudo-elemento
/// @param   {number} $height [null] - Altura do pseudo-elemento
///
/// @example scss - Uso
///   .class1 {
///     @include css-content(10px, rem(30px));
///   }
///   .class2 {
///     @include css-content(rem(30px));
///   }
///   .class3 {
///     @include css-content;
///   }
///   .class4 {
///     @include css-content($height: rem(30px));
///   }
///   .class5 {
///     @include css-content($width: 30px);
///   }
///
/// @example css - Compilado
///   .class1 {
///     display: inline-block;
///     width: 10px;
///     height: 1.875rem;
///     content: '';
///   }
///   .class2 {
///     display: inline-block;
///     width: 1.875rem;
///     height: 1.875rem;
///     content: '';
///   }
///   .class3 {
///     display: inline-block;
///     content: '';
///   }
///   .class4 {
///     display: inline-block;
///     height: 1.875rem;
///     content: '';
///   }
///   .class5 {
///     display: inline-block;
///     width: 30px;
///     height: 30px;
///     content: '';
///   }
@mixin css-content($width: null, $height: null) {
  content: '';
  display: inline-block;

  width: $width;
  height: if($height == null, $width, $height);
}
