/// Mixin que some com um elemento sem dar `display: none` pra ele ficar
/// acessível aos leitores de tela
///
/// @group   Tools [Ferramentas]
/// @output  Quando compilado coloca todas as propriedades definidas
///
/// @example scss - Uso
///   .class1 {
///     @include hide-element;
///   }
///
/// @example css - Compilado
///   .class1 {
///     position: absolute;
///     width: 1px;
///     height: 1px;
///     overflow: hidden;
///     clip: rect(1px, 1px, 1px, 1px);
///     border: 0;
///   }
@mixin hide-element {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  border: 0;
}
