/// Mixin para facilitar a criação de media queries. É baseado no conceito do
/// **conteúdo responsivo** e *mobile first*
/// @link    http://sergiolopes.org/media-queries-zoom/
///
/// @group   Tools [Ferramentas]
///
/// @output  Quando compilado coloca todas as propriedades incluídas dentro do
///          mixin
///
/// @param   {string} $breakpoint - Nome da chave do tamanho desejado
///
/// @example scss - Uso
///   @include respond-to(medium) {
///     background: blue;
///     width: 50px;
///   }
///
/// @example css - Compilado
///    @media (min-width: 68em) {
///      body {
///        background: blue;
///        width: 50px;
///      }
///    }
@mixin respond-to($breakpoint) {
  @if variable-exists(breakpoints) {
    @media (min-width: em(map-get($breakpoints, $breakpoint))) {
      @content;
    }
  } @else {
    @warn 'Infelizmente o mapa "$breakpoints" nao existe.';
  }
}
