/// Este mixin atribui as propriedades necessárias para o wrapper do grid
/// utilizado pelo sistema
///
/// @group   Objects [Objetos]
///
/// @param   {string} $justify-content [null] - Determina se o container vai
///                 distribuir o espaço existente e como fará isto de acordo com
///                 os valores da propriedade `justify-content` do flexbox.
///
/// @example scss - Uso
///   .classe-pai-x {
///     @include grid-wrapper;
///   }
///   .classe-pai-y {
///     @include grid-wrapper($justify-content: space-between);
///   }
///
/// @example scss - Compilado
///   .classe-pai-x {
///     display: flex;
///     align-items: flex-start;
///     flex-wrap: wrap;
///     margin-right: -0.625rem;
///     margin-left: -0.625rem;
///   }
///   .classe-pai-y {
///     display: flex;
///     align-items: flex-start;
///     flex-wrap: wrap;
///     justify-content: space-between;
///     margin-right: -0.625rem;
///     margin-left: -0.625rem;
///   }
@mixin grid-wrapper($justify-content: null) {
  @include flex-container($justify-content: $justify-content);

  margin: {
    right: -#{space(grid) / 2};
    left: -#{space(grid) / 2};
  };
}
