@import './import-core-tools';
@import './import-core-settings';
@import './objects/reset';
@import './components/header';
@import './components/main-nav';

body {
  font-family: 'Lato', sans-serif;
  color: color(dark);
}

h1 {
  font-size: font-size(xxlarge);
}
h2 {
  font-size: font-size(xlarge);
}
