[has-blocks] {
  [block] {
    width: 100%;

    & + [block] {
      margin-top: space(medium);

      @include respond-to(medium) {
        margin-top: initial;
      }
    }
  }
}

[has-blocks='two'] {
  @include respond-to(medium) {
    @include has-blocks(
      $count: 2,
      $child-selector: '[block]'
    );
  }

  @include respond-to(xlarge) {
    @include has-blocks(
      $count: 3,
      $child-selector: '[block]'
    );
  }
}

[has-blocks='three'] {
  @include respond-to(medium) {
    @include has-blocks(
      $count: 2,
      $child-selector: '[block]'
    );
  }

  @include respond-to(large) {
    @include has-blocks(
      $count: 3,
      $child-selector: '[block]'
    );
  }

  @include respond-to(xlarge) {
    @include has-blocks(
      $count: 4,
      $child-selector: '[block]'
    );
  }
}

[has-blocks='four'] {
  @include respond-to(small) {
    @include has-blocks(
      $count: 2,
      $child-selector: '[block]'
    );
  }

  @include respond-to(medium) {
    @include has-blocks(
      $count: 3,
      $child-selector: '[block]'
    );
  }

  @include respond-to(large) {
    @include has-blocks(
      $count: 4,
      $child-selector: '[block]'
    );
  }

  @include respond-to(xlarge) {
    @include has-blocks(
      $count: 5,
      $child-selector: '[block]'
    );
  }
}

[has-blocks='five'] {
  @include respond-to(small) {
    @include has-blocks(
      $count: 2,
      $child-selector: '[block]'
    );
  }

  @include respond-to(medium) {
    @include has-blocks(
      $count: 3,
      $child-selector: '[block]'
    );
  }

  @include respond-to(large) {
    @include has-blocks(
      $count: 5,
      $child-selector: '[block]'
    );
  }

  @include respond-to(xlarge) {
    @include has-blocks(
      $count: 6,
      $child-selector: '[block]'
    );
  }
}

[has-blocks='six'] {
  @include has-blocks(
    $count: 2,
    $child-selector: '[block]'
  );

  @include respond-to(small) {
    @include has-blocks(
      $count: 4,
      $child-selector: '[block]'
    );
  }

  @include respond-to(medium) {
    @include has-blocks(
      $count: 5,
      $child-selector: '[block]'
    );
  }

  @include respond-to(large) {
    @include has-blocks(
      $count: 6,
      $child-selector: '[block]'
    );
  }

  @include respond-to(xlarge) {
    @include has-blocks(
      $count: 7,
      $child-selector: '[block]'
    );
  }
}
