// Tamanhos aplicados em elementos [is-size] sem configuração dos gutters
// da colunagem do grid
//
// Utilização de tamanhos para elementos de formulários.
//
// Utilizamos como base as medidas do mapa de grid
// (vv-jornada-core-css/settings/grid), mas no caso deste mixin ele adiciona o
// tamanho de forma absoluta com respeito à view.
//
// is-size="xxsmall" - Corresponde a **1 coluna**
// is-size="xsmall" - Corresponde a **2 colunas**
// is-size="small" - Corresponde a **3 colunas**
// is-size="medium" - Corresponde a **4 colunas**
// is-size="large" - Corresponde a **5 colunas**
// is-size="xlarge" - Corresponde a **6 colunas**
// is-size="xxlarge" - Corresponde a **7 colunas**
//
// Markup:
// <div element-wrapper>
//   <div>
//     <label for="valor">valor</label>
//     <span class="select" is-size="medium">
//       <select id="valor">
//         <option value="valor">valor</option>
//         <option value="valor">valor</option>
//         <option value="valor">valor</option>
//       </select>
//     </span>
//   </div>
// </div>
//
// Styleguide trumps/grid/is-size
[is-size='xxsmall'] {
  width: column(1, fixed-size) !important;
}

[is-size='xsmall'] {
  width: column(2, fixed-size) !important;
}

[is-size='small'] {
  width: column(3, fixed-size) !important;
}

[is-size='medium'] {
  width: column(4, fixed-size) !important;
}

[is-size='large'] {
  width: column(5, fixed-size) !important;
}

[is-size='xlarge'] {
  width: column(6, fixed-size) !important;
}

[is-size='xxlarge'] {
  width: column(7, fixed-size) !important;
}

// sass-lint:disable-block no-important
