/// Converte qualquer valor para `em`.
/// @group   Tools [Ferramentas]
///
/// @return  {number} - Valor convertido expressado em `em`
///
/// @param   {number} $value - Valor a ser convertido
/// @param   {number} $base-size [$font-size-base] - Tamanho de fonte base usado
///                              no calculo da conversão
///
/// @example scss - Uso
///   .elemento {
///     height: em(20px);
///   }
///   .elemento2 {
///     height: em(20px, $base-size: 14px);
///   }
///
/// @example scss - Compilado
///   .elemento {
///     height: 1.25em
///   }
///   .elemento2 {
///     height: 1.428em
///   }
@function em($value, $base-size: $font-size-base) {
  $result: null;

  @if not type-of($value) == 'number' {
    @warn '#{$value} precisa ser um numero';
  } @else if unitless($value) {
    @warn 'O valor #{$value} precisa ter declarado o tipo de unidade (px, em, %, vw, etc)';
  } @else {
    $calc-result: null;

    @if unit($value) == 'px' {
      $calc-result: _clean-unit($value) / _clean-unit($base-size);
    } @else if unit($value) == 'rem' {
      $calc-result: _clean-unit($value);
    } @else {
      $calc-result: _clean-unit($value) / 100;
    }

    $result: $calc-result * 1em;
  }

  @return $result;
}
