/// Converte qualquer valor para `rem`.
/// @group   Tools [Ferramentas]
///
/// @return  {number} - Valor convertido expressado em `rem`
///
/// @example scss - Uso
///   .elemento {
///     height: rem(20px);
///   }
///
/// @example scss - Compilado
///   .elemento {
///     height: 1.25rem
///   }
@function rem($value) {
  $result: null;

  @if not type-of($value) == 'number' {
    @warn '#{$value} precisa ser um numero';
  } @else if unitless($value) {
    @warn 'O valor #{$value} precisa ter declarado o tipo de unidade (px, em, %, vw, etc)';
  } @else {
    $calc-result: null;

    @if unit($value) == 'px' {
      $calc-result: (_clean-unit($value) / _clean-unit($font-size-base));
    } @else if unit($value) == 'rem' {
      $calc-result: _clean-unit($value);
    } @else {
      $calc-result: _clean-unit($value) / 100;
    }

    $result: $calc-result * 1rem;
  }

  @return $result;
}
