/// Converte um número ímpar para o próximo número par
/// @group   Tools [Ferramentas]
///
/// @param   {number} $number - Número a ser verificado
///
/// @return  {number} - Número par
///
/// @example scss - Uso
///   .elemento {
///     width: _to-even(27px);
///   }
///   .elemento2 {
///     width: _to-even(300px);
///   }
///
/// @example scss - Compilado
///   .elemento {
///     width: 28px
///   }
///   .elemento2 {
///     width: 300px
///   }
@function _to-even($number) {
  $number: ceil($number);
  $is-odd: ($number % 2) != 0;

  @if $is-odd {
    $number: $number + 1;
  }

  @return $number;
}
