/// Mapa de cores da **Brand**
///
/// Se for necessário adicionar variações de uma cor, utilize mapas aninhados
/// utilizando chaves como mostrado abaixo:
/// #### Modificadores recomendados:
///  - **lightest**: cor expressada em formato `rgb`, `rgba`, `hexa`, `color name`, etc
///  - **lighter**:  cor expressada em formato `rgb`, `rgba`, `hexa`, `color name`, etc
///  - **light**:    cor expressada em formato `rgb`, `rgba`, `hexa`, `color name`, etc
///  - **base**:     cor expressada em formato `rgb`, `rgba`, `hexa`, `color name`, etc
///  - **medium**:   cor expressada em formato `rgb`, `rgba`, `hexa`, `color name`, etc
///  - **dark**:     cor expressada em formato `rgb`, `rgba`, `hexa`, `color name`, etc
///  - **darker**:   cor expressada em formato `rgb`, `rgba`, `hexa`, `color name`, etc
///  - **darkest**:  cor expressada em formato `rgb`, `rgba`, `hexa`, `color name`, etc
///
/// @group    Settings [Configurações]
///
/// @example scss - Uso
///   $brand-colors: (
///     primary: #ed6655,
///     secondary: #eb4766,
///     normal: #b9b9b9,
///     gradient: (
///       light: #ed6655,
///       dark: #eb4766
///     )
///   );
$brand-colors: (
  primary: #f4d11e,
  secondary: #333333
) !default;
