/// Mapa de *breakpoints* para *media querie* (trabalhamos com o conceito do
/// mobile first)
///
/// #### Dispositivos testados
///  - small = 566px - smartphones (landscape)
///  - medium = 768px - ipad, nexus10, ipad mini (portrait)
///  - large = 992px - ipad (landscape), monitor 1024+
///  - xlarge = 1200px - ipad Pro, monitor 1280+
///  - xxlarge = 1600px - monitor 1600+
/// @group   Settings [Configurações]
$breakpoints: (
  small: 566px,
  medium: 768px,
  large: 992px,
  xlarge: 1200px,
  xxlarge: 1600px
) !default;
