/// Constante utilizada para facilitar a conversão de unidades de medida
///
/// Para atribuir um novo valor, faça-o no arquivo `_settings.scss` do projeto
/// @group   Settings [Configurações]
$font-size-base: 16px !default;

/// Constante utilizada para determinar o line-height padrão do body
/// @group   Settings [Configurações]
$line-height-base: 1.25 !default;

/// Constante utilizada para trocar configurações de acordo com a Brand
/// @group   Settings [Configurações]
$brand: null !default;
$brand-name: null !default;

/// Constantes utilizadas para as configurações de fontes
/// @group   Settings [Configurações]
$font-fallback: Tahoma, Verdana, Segoe, sans-serif !default;

/// Constante que gera um mapa para ser utilizado pelas ferramentas de fonte
/// @group   Settings [Configurações]
$fonts: map-merge($ui-fonts, $brand-fonts) !default;

/// Localização das imagens com respeito ao CSS compilado
/// @group   Settings [Configurações]
$images-path: '../images' !default;

/// Localização do sprite-svg com respeito ao CSS compilado
/// @group   Settings [Configurações]
$svg-sprite-path: '../images' !default;

/// Espessura de borda padrão
/// @group   Settings [Configurações]
$border-width-base: rem(1px) !default;

/// Cor de borda padrão
/// @group   Settings [Configurações]
$border-color-base: color(dark) !default;

/// Estilo de borda padrão
/// @group   Settings [Configurações]
$border-style-base: $border-width-base solid $border-color-base !default;

/// Constante padrão para bordas arredondadas
/// @group   Settings [Configurações]
$border-radius-base: rem(4px) !default;

/// Sombra padrão para elementos
/// @group   Settings [Configurações]
$box-shadow-base: 0 rem(3px) rem(8px) 0 rgba(color(dark), .15) !default;

/// Largura base para conversão de medidas baseadas no layout do protótipo
/// @group   Settings [Configurações]
$view-width-base: 1024px !default;

/// Opacidade padrão para elementos desabilitados
/// @group   Settings [Configurações]
$disabled-opacity: .7 !default;
